# Create a Supabase project at https://supabase.com and paste its keys here.
# Copy this file to ".env" (which is gitignored) and fill in the values.
VITE_SUPABASE_URL=https://ejmjwhcxbchhpnnrvjru.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqbWp3aGN4YmNoaHBubnJ2anJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MzI2ODgsImV4cCI6MjA5ODQwODY4OH0.rkzh2GRDdWQzwxGp_Qa1Ua1ciOJLXg_5EWuwe2qmqq0